.header-wrapper {
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}

.header {
	position: sticky;
	width: 100%;
	backdrop-filter: blur(50px);
	z-index: 10;
	top: 0;
	background: #000000cc;
	padding: 20px;
	transition: all .3s;
}

.header-logo {
	width: 100%;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	align-self: center;
	cursor: pointer;
	user-select: none;
}




.header-logo-container {
	cursor: default;
}

.header-logo-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: max-content;
	text-align: center;
	height: 18px;
	cursor: pointer;
	top: 0;
	transition: top .2s ease-in-out;
}

.header-logo-wrapper>span {
	transition: all .2s ease-in-out;
}

.header-logo-wrapper:hover {
	color: var(--orange-hover);
	top: -18px;
}

.header-logo-second {
	opacity: 0;
	visibility: hidden;
}

.header-logo-wrapper:hover>.header-logo-first {
	opacity: 0;
}

.header-logo-wrapper:hover>.header-logo-second {
	opacity: 1;
	visibility: visible;
}



.search_input-header {
	width: 90%;
}



.user-container {
	position: relative;
	display: flex;
	align-items: center;
	gap: 5%;
	justify-content: end;
	width: 100%;
}

.dropdown_container:hover .dropdown {
	visibility: visible;
	opacity: 1;
	transition: visibility 0ms, opacity .1s ease-in;
}

.avatar {
	width: 50px;
	height: 50px;
}

.avatar-header {
	height: 31px;
	width: 31px;
}

.avatar>img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.dropdown {
	position: absolute;
	visibility: hidden;
	width: max-content;
	opacity: 0;
	top: -30px;
	right: 0px;
	z-index: 10;
	padding: 20px 0 10px 0;
	background: var(--black-light);
	border-radius: 0 0 10px 10px;
}

.user-info_container {
	display: flex;
	gap: 20px;
	padding: 10px 20px;
	margin-bottom: 10px;
}

.user-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navigation-content {
	margin-bottom: 10px;
}

.menu-link,
.menu-btn {
	display: block;
	font-size: 15px;
	font-weight: 400;
	padding: 10px 20px;
	transition: all .1s ease-in;
}

.menu-link:hover,
.menu-btn:hover {
	background: #2f3335;
}

.menu-link:hover {
	cursor: pointer;
}

.menu-btn {
	width: 100%;
	cursor: pointer;
	text-align: left;
	border: 0;
	outline: 0;
	background: 0 0;
}

.menu-btn,
.dropdown {
	color: var(--gray-light);
}

.menu-btn:hover {
	color: #d30000;
}



.btn-login {
	background: transparent;
	color: var(--text-gray);
	font-size: 17px;
	padding: 4px 8px;
	transition: all 0.1s ease-in-out;
}

.btn-login:hover {
	color: var(--text-gray-hover);
}